* {
    font-family: Arial;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}

#left-block {
    position: relative;
    display: block;
    float: left;
    height: 100%;
    width: 20%;
    /*border-right: 1px solid black;*/
}

#file-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid black;
    /*border-left: 1px solid black;*/
}

#file-list li {
    width: 100%;
    /*border: 1px solid black;*/
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: aqua;
}

#left-bottom-block {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#delete-file {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#new-file {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#create-module {
    border-top: 1px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#right-block {
    position: relative;
    display: block;
    float: left;
    height: 100%;
    width: 80%;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.checkbox {
    border: 1px solid black;
    background-color: white;
    width: 20px;
    height: 20px;
}

/*#options-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}*/